/*@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);*/
.snip1515 {
  font-family: 'Open Sans', Arial, sans-serif;
  /*position:absolute;
  top: 50%;
  left: 50%;*/
  /*float: left;*/
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1515 .user-bio{
  text-align: left;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #ff751a;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #F2F2F2;
  color: #555;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1515 #username{
  text-transform: capitalize;
}

.snip1515 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1515 .icons {
  text-align: center;
  width: 100%;
}

.snip1515 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #e8b563;
  opacity: 0.75;
}

.snip1515 .disconnected-social {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  color: #b3b3b3;
}

.snip1515 h {
  text-transform: uppercase;
}

/*button effects*/

.fill:hover, 
.fill:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

/*override the color of the buttons*/
a:visited{
  color: var(--visited);
  text-decoration:none;
}

a:-webkit-any-link {
    text-decoration:none;
    color: var(--visited);
}


/*normal display*/
.fill {
  --color: #ff8533;
  --hover: #ff6600;
  --visited:#ff8533;
}


button {
  text-decoration-color: none;
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 8em
}
button:hover, button:focus {
  border-color: var(--hover);
  --visited: #fff;
}
/*basic button styles*/
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin-left:.6em;
  margin-right:.6em;
  margin-bottom: 1.2em;
  padding: 1em 2em;
}

body {
  background-color: #212121;
}

#find{
  padding: 1em 1em;
  width: 17.5em;
  margin-bottom: .4em;

}
