<!-- this file is not in use -->

{%extends 'nusxchange/base.html'%}
{% block content %}
	<h2>Homepage</h2>
		<p> Hello, {{ user.username }}!</p>
	<ul>
		<li>Username: {{ user.username }}</li>
		<li>Location: {{ user.profile.location }}</li>
		<li>Birth Date: {{ user.profile.birth_date }}</li>
		<li>School: {{ user.profile.get_school_display}}</li>
		<li>Nationality: {{ user.profile.get_nationality_display }}</li>
  </ul>

  <h3>Twitter</h3>
  {% if twitter_login %}
    <p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Twitter</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Twitter</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'twitter' %}">Connect to Twitter</a>
  {% endif %}

  <h3>Facebook</h3>
  {% if facebook_login %}
    <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Facebook</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Facebook</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a>
  {% endif %}


	<br>
	<br>
	<br>
		<button type="submit"><a href="{% url 'logout' %}}">Logout</a></button>
		<button type="submit"><a href= "{% url 'profile:settings' %}" >Update My Profile</a></button>

	</ul>
{% endblock %}