{% block content %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Profile Settings</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
{% load static %}
  <link rel="stylesheet" href="{% static 'profile_management/settings.css' %}">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  
</head>
<body>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="profile-holder">
        <div class="profile-people-holder" border-bottom-color="#FFF">
          <div class="profile-name">
            <h3>Profile settings</h3>
				<p>Hello {{ user.username }}!</p>
            <p>Update your profile password and notifications settings</p>
          </div>
        </div>
        <div class="profile-settings-holder">
	
	<form method="post" enctype="multipart/form-data">
  	{% csrf_token %}
          {% for field in user_form %}
            <div class="form-group clearfix">
              <div class="col-sm-12 control-label">
                {{ field.errors }}
                {{ field.label_tag }}
              </div>
              <div class="col-sm-12">
                {{ field }}
              </div>
            </div>
          {% endfor %}

          {% for field in profile_form %}
            <div class="form-group clearfix">
              <div class="col-sm-12 control-label">
                {{ field.errors }}
                {{ field.label_tag }}
              </div>
              <div class="col-sm-12">
                {{ field }}
              </div>
            </div>
          {% endfor %}           
          {% for field in form %}
            <div class="form-group clearfix">
              <div class="col-sm-12 control-label">
                {{ field.errors }}
                {{ field.label_tag }}
              </div>
              <div class="col-sm-12">
                {{ field }}
              </div>
            </div>
          {% endfor %}         

 	<!-- social_auth -->
 	<h3>Twitter</h3>
	{% if twitter_login %}
		<p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
		{% if can_disconnect %}
		   <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
		     {% csrf_token %}
		     <button type="submit">Disconnect from Twitter</button>
		   </form>
		{% else %}
		   <button type="button" disabled>Disconnect from Twitter</button>
		   <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
		{% endif %}
	{% else %}
	 <a href="{% url 'social:begin' 'twitter' %}">Connect to Twitter</a>
	{% endif %}

	<h3>Facebook</h3>
	{% if facebook_login %}
   	<p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
    		{% if can_disconnect %}
		      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
		      {% csrf_token %}
		      <button type="submit">Disconnect from Facebook</button>
		      </form>
		   {% else %}
		      <button type="button" disabled>Disconnect from Facebook</button>
		      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
		   {% endif %}
	{% else %}
 		<a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a><br><br>
	{% endif %}
  	<button type="submit" class="btn btn-default">Save changes</button>
	</form>
	
</html>
{% endblock %}