body {
  background: #FFEFDE;
  color: #ff8600;
}
#help-text{
  font-size:18px; 
  color:grey; 
  margin-top: -12px;
  margin-bottom:20px;
}
.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  background: #fff;
  padding: 2em;
  border-radius: 1em;
}
